{% load static %}
{% load humanize %}
{% load mathfilters %}
<style>
  @page { size: auto;  margin: 2rem; }
  </style>
<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    {% if detail.name_invoce %}
    <title>{{detail.name_invoce}}</title>
    {% else %}
    <title>{{detail.name}}</title>
    {% endif %}

    <link href="{% static 'css/detail_style.css' %}" rel="stylesheet" media="all">
  </head>
  <body>
    <header class="clearfix">

      <div id="company">
        <h2 class="name">LerProduct</h2>
        ใบจัดส่งสินค้า
        <div>เบอร์โทร: 088-628-2391</div>
        <div>ที่อยู่: 47/1 พหลโยธิน 28 แขวงจันทรเกษม เขตจตุจักร กรุงเทพฯ 10900 </div>
        
      </div>
      </div>
    </header>
    <main>
      <div id="details" class="clearfix">
        <div id="client">

          <h2 class="name">กรุณาส่ง: {{detail.name}} </h2>


          <div class="email">เลขที่ผู้เสียภาษี: - </a></div>

          <div class="email">เบอร์โทร: {{detail.tel_number}}</div>

          <div class="address" style="width: 50%; position: absolute;">ที่อยู่: {{detail.address}}<br>(สำนักงานใหญ่)</div><br>

          
        </div>
        <div id="invoice">
          <div>เลขที่ส่ง: DO{{detail.id}}/{{detail.invoice_date.month}}{{detail.invoice_date.year|sub:"2000"}}</div>
          <div class="date">วันที่: 
            {% if detail.invoice_date %}{{detail.invoice_date.day }} 
    {% if detail.invoice_date.month is 1 %}<span>มกราคม</span> 
  {% elif detail.invoice_date.month is 2 %}<span>กุมภาพันธ์</span>
  {% elif detail.invoice_date.month is 3 %}<span>มีนาคม</span> 
  {% elif detail.invoice_date.month is 4 %}<span>เมษายน</span> 
  {% elif detail.invoice_date.month is 5 %}<span>พฤษภาคม</span> 
  {% elif detail.invoice_date.month is 6 %}<span>มิถุนายน</span> 
  {% elif detail.invoice_date.month is 7 %}<span>กรกฎาคม</span> 
  {% elif detail.invoice_date.month is 8 %}<span>สิงหาคม</span> 
  {% elif detail.invoice_date.month is 9 %}<span>กันยายน</span> 
  {% elif detail.invoice_date.month is 10 %}<span>ตุลาคม</span> 
  {% elif detail.invoice_date.month is 11 %}<span>พฤศจิกายน</span> 
  {% elif detail.invoice_date.month is 12 %}<span>ธันวาคม</span> 
  {% endif %}
  <span >{{ detail.invoice_date.year | add:"543"| stringformat:"d" }}</span>

  {% else %}
  {% endif %}<br>
  ผู้ขาย: LERPRODUCT
</div>
        </div>
      </div>
      <table border="0" cellspacing="0" cellpadding="0">
        <thead>
          <tr>
            <th>รายการที่</th>
            <th>รายการสินค้า</th>

            <th>จำนวน</th>

          </tr>
        </thead>
        <tbody>
          {% for d in detail.invoices.all %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td class="desc">{{d.product}}</td>

            <td class="desc">{{d.qty}}</td>

          </tr>
          {% endfor %}
        </tbody>
        <tfoot>

            
            
          
        </tfoot>
      </table>
      <footer>
        <table  style="background: white;">

          <th style="background: white;">
            ________________<br>
            ผู้จัดส่ง
        </th>



      <th style="background: white;">
        ________________<br>
        ผู้รับสินค้า</th>
      <th style="background: white;">

        </th>
    </table>

    </footer>



    </main>

  </body>
</html>