{% load static %}
{% load mathfilters %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>ใบสั่งซื้อ</title>
    <link href="{% static 'css/detail_style.css' %}" rel="stylesheet" media="all">
  </head>
  <body>
    <header class="clearfix">
      <div id="logo">
        <img src="{% static 'img/11.png' %}">
      </div>
      <div id="company">
        <h2 class="name">บริษัท เลอคอร์ปอเรชั่น จำกัด</h2>
        <div>เลขที่ผู้เสียภาษี: 0105557015158</div>
        <div>เบอร์โทร: 088-628-2391</div>
        <div>ที่อยู่: 47 พหลโยธิน 28 แขวงจันทรเกษม เขตจตุจักร กรุงเทพฯ 10900   </div>
        
        
        <div class="name"><a href="mailto:sale@lerproduct.com">sales@lerproduct.com</a></div>
      </div>
      </div>
    </header>
    <main>
      <div id="details" class="clearfix">
        <div id="client">
          <h2 class="name">ผู้ขาย: </h2>
          {% if detail.tax_number %}
          <div class="email">เลขที่ผู้เสียภาษี:{{detail.tax_number}}</a></div>
          {% else %}
          <div class="email">เลขที่ผู้เสียภาษี: - </a></div>
          {% endif %}
          <div class="email">เบอร์โทร: {{detail.tel_number}}</div>

          <div class="address" style="width: 50%; position: absolute;">ที่อยู่: {{detail.address}}</div><br>
          
        </div>
        <div id="invoice">
          <div>เลขที่ใบเสร็จ: {{detail.id}}/{{detail.created.day}}{{detail.created.month}}{{detail.created.year|sub:"2000"}}</div>
          <div class="date">วันที่ออกบิล: 
            {% if detail.created.date %}{{detail.created.day }} 
    {% if detail.created.month is 1 %}<span>มกราคม</span> 
  {% elif detail.created.month is 2 %}<span>กุมภาพันธ์</span>
  {% elif detail.created.month is 3 %}<span>มีนาคม</span> 
  {% elif detail.created.month is 4 %}<span>เมษายน</span> 
  {% elif detail.created.month is 5 %}<span>พฤษภาคม</span> 
  {% elif detail.created.month is 6 %}<span>มิถุนายน</span> 
  {% elif detail.created.month is 7 %}<span>กรกฎาคม</span> 
  {% elif detail.created.month is 8 %}<span>สิงหาคม</span> 
  {% elif detail.created.month is 9 %}<span>กันยายน</span> 
  {% elif detail.created.month is 10 %}<span>ตุลาคม</span> 
  {% elif detail.created.month is 11 %}<span>พฤศจิกายน</span> 
  {% elif detail.created.month is 12 %}<span>ธันวาคม</span> 
  {% endif %}
  <span >{{ detail.created.year | add:"543"| stringformat:"d" }}</span>

  {% else %}
  {% endif %}</div>
        </div>
      </div>
      <table border="0" cellspacing="0" cellpadding="0">
        <thead>
          <tr>
            <th>รายการที่</th>
            <th>รายการสินค้า</th>
            <th>ราคาสินค้า</th>
            <th>จำนวน</th>
            <th>ราคารวม</th>
          </tr>
        </thead>
        <tbody>
          {% for d in detail.invoices.all %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td class="desc">{{d.product}}</td>
            <td class="desc">{{d.sell_price}}</td>
            <td class="desc">{{d.qty}}</td>
            <td>{{ d.sell_price|mul:d.qty }}</td>
          </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <td colspan="2"></td>
            <td colspan="2">ราคารวม</td>
            <td>{{ total_cost|floatformat:2 }}</td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td colspan="2">ราคาก่อนภาษีมูลค่าเพิ่ม</td>
            
            <td>{{ total_cost|div:"1.07"|floatformat:2 }}</td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td colspan="2">ภาษีมูลค่าเพิ่ม 7%</td>
            <td>{{ total_cost|div:"1.07"|sub:total_cost|abs|floatformat:2 }}</td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td colspan="2">ราคารวมภาษีมูลค่าเพิ่ม</td>
            <td>{{ total_cost|floatformat:2}}</td>
          </tr>
          <tr></tr>
        </tfoot>
      </table>
      <footer>
        
      </footer>
    </main>

  </body>
</html>