

			<footer>
				<div class="container">
					<p><a href="{% url 'product_list' %}">หน้าหลัก</a> | <a href="{% url 'about' %}">เกี่ยวกับเรา</a> | <a href="{% url 'insure' %}">การรับประกัน</a> | <a href="{% url 'contact' %}">ติดต่อเรา</a></p>
					<!-- logo image -->
					<div class="social">
						<a href="https://www.facebook.com/lerproduct/" target="_blank"><i class="fa fa-facebook"></i></a>
						<a href="https://lin.ee/kSttcjw" target="blank"><i class="fab fa-line"></i></a>
					</div>
					<!-- copy right -->
					<!-- This theme comes under Creative Commons Attribution 4.0 Unported. So don't remove below link back -->
					<p class="copy-right">Copyright &copy; 2020 <a href="#">lerproduct.com</a> | Designed By : <a href="http://www.lerproduct.com">LerCorp</a>, All rights reserved. </p>
				</div>
			</footer>
<script src="https://kit.fontawesome.com/fb1260e985.js" crossorigin="anonymous"></script>