{% extends "index.html" %}
{% load static %}

{% block content %}

			<!-- team -->
			<div class="team" id="team">
				<div class="container">
					<!-- default heading -->
					<div class="default-heading">
						<img  src="{% static 'img/4.jpg' %}" width=40% />
						<!-- heading -->
						
						<!-- paragraph -->

					</div>
					<h2>ตัวแทนจำหน่ายสินค้าเกี่ยวกับบ้านแบรนด์ชั้นนำของประเทศไทย</h2>
											บริษัท เลอ คอร์เปอเรชั่นได้รับแต่งตั้งเป็นตัวแทนจำหน่ายสินค้าภายใต้แบรนด์สินค้าชั้นนำ เช่น Eve,Hafele,MEX และ แบรนด์ชั้นนำอื่นๆ <br>
											<li>จำหน่ายชุดเครื่องครัวคุณภาพสูง พร้อมการบริการหลังการขาย</li>
											<li>ความคุ้มค่าในราคาที่สมเหตุสมผล</li>
											<li>สินค้าทุกชิ้นส่งตรงจากโรงงาน รับประกันกับทางเจ้าของแบรนด์สินค้าโดยตรง</li>
					<h2>เกี่ยวกับบริษัท</h2>
					บริษัท เลอ คอร์เปอเรชั่น ก่อตั้งขึ้นในเดือนตุลาคม ปี 2558 โดยทีมงานที่มีประสบการณ์ในการดูแลลูกค้า สร้างความประทับใจสูงสุดในการสั่งซื้อ และ การบริการหลังการขาย มาอย่างยาวนาน 
					<h2>เป้าหมายบริษัท</h2>
					เพื่อจำหน่ายสินค้าคุณภาพในราคา ไม่แพง ให้กับลูกค้า จนเป็นที่ไว้วางใจของลูกค้า และ อยู่ในใจลูกค้าตลอดไป
					<h2>ค่านิยมของบริษัท</h2>
					<li>ยึดมั่นลูกค้า</li>
					<li>ความน่าเชื่อถือ </li>
					<li>ตั้งมั่นในจริยธรรม</li>
					
				</div>
			</div>
			

			

		</div>


{% endblock %}