{% extends "index.html" %}
{% load static %}

{% block content %}

			<!-- contact -->
			<div class="contact" id="contact">
				<div class="container">
					<!-- default heading -->
					<div class="default-heading">
						<!-- heading -->
						<!-- paragraph -->
						<h3>บริษัทเลอ คอร์ปอเรชั่น</h3>
					</div>
					<!-- contact container -->
					<div class="contact-container">	
						<div class="row">
							<div class="col-md-5 col-sm-6">
								<!-- heading -->
								<h3></h3>
								<form action="addform" role="form" method="post">
									{% csrf_token %}
									{% if messages %}

									{% for message in messages %}
									  <div style="color: red;">{{ message }}</div>
									{% endfor %}
				
								  	{% endif %}
									<div class="form-group">
										<label for="contactName">ชื่อ</label>
										<input class="form-control" type="text" name="contact_name" placeholder="ชื่อ-นามสกุล" required>
									</div>
									<div class="form-group">
										<label for="contactEmail">Email</label>
										<input class="form-control" type="email" name="contact_email" placeholder="Email ที่ต้องการให้ติดต่อกลับ" />
									</div>

									<div class="form-group">
                        				<label for="tel">เบอร์ติดต่อ</label>
                        				<input class="form-control" type="tel" name="tel" placeholder="กรุณาใส่เบอร์ติดต่อ" pattern="{0}[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]"required>
                    				</div>
									<div class="form-group">
										<label for="contactMessage">ข้อความติดต่อ</label>
										<textarea class="form-control"  name="contact_message" rows="3" placeholder="ข้อมูลที่ต้องการสอบถาม" required></textarea>
									</div>

									<script src="https://www.google.com/recaptcha/api.js" async defer></script>
									<div class="g-recaptcha" data-sitekey="6Ld-TdYZAAAAALl_FTaMP9IYFq1OsI7uUr8m2vji" required></div>


									<div class="form-group">
										<button type="submit" name="submit" id="submit" class="btn btn-default">ส่งข้อมูล</button>
									</div>
								</form>
							</div>
							<div class="col-md-4 col-sm-7">
								<!-- heading -->
								<h3>ที่อยู่</h3>
								<!-- paragraph -->
								<p class="address">47/1 พหลโยธิน 28 ,<br>
									จันทรเกษม จตุจักร,<br>
									กรุงเทพฯ 10900</p>
									<br>
								<!-- heading -->
								<h3>ติดต่อ</h3>
								<!-- paragraph -->
								<p class="address"><i class="fas fa-mobile-alt"></i> (088)-628-2391</p>
								<p><b>ฝ่ายดูแลลูกค้า:</b></p> 
								<p><i class="far fa-envelope"></i><a href="mailto:customerservice@lerproduct.com"> customerservice@lerproduct.com</a></p>
								<p><b>ฝ่ายขาย:</b></p>
								<p><i class="far fa-envelope"></i><a href="mailto:sales@lerproduct.com">  sales@lerproduct.com</a></p>
								<!-- heading -->
								<h3>Line</h3>
								<!-- paragraph -->
								<p>Line: @lerproduct หรือ
								<span class="address"><a href="https://lin.ee/kSttcjw" target="blank">เพิ่มเพื่อน<br><img src="{% static 'img/M.png' %}"></span></p>
							</div>
						</div>
					</div>
				</div>
			</div>



{% endblock %}