{% extends "index.html" %}
{% load static %}

{% block content %}
<div class="container insure">

<h2><u>วิธีการลงทะเบียนประกันสินค้า Brand Eve</u></h2>
<br>
<img src="{% static 'img/eve_insure1.jpg' %}" style="max-width: 360px; height: auto;"><br><br><br>
<img src="{% static 'img/eve_insure2.jpg' %}" style="max-width: 360px; height: auto;"><br>

3.1)    กรอกรหัสรุ่นสินค้า (Product Code) โดยดูจากใบกำกับภาษีของบริษัทฯ ซึ่งสินค้า EVE ทุกรายการจะมีรหัสสินค้าขึ้นต้นด้วย 8851737xxxxxx และต่อท้ายด้วยเลขท้ายอีก 6 ตัว  รหัสรุ่นสินค้านี้จะเป็นรหัสที่ใช้เพื่อเปิดเอกสารการค้า ซึ่งสินค้าแต่ละรุ่นจะมีรหัสสินค้าที่แตกต่างกันออกไป แต่สินค้าที่เป็นรุ่นเดียวกันก็จะมีรหัสสินค้าที่เหมือนกัน
<br><br>

3.2)    ประเภทสินค้า (Product Categories)  ให้ลูกค้ากดเลือกประเภทของสินค้าที่ลูกค้าได้ทำการสั่งซื้อไป
<br><br>

3.3)    ชื่อรุ่นสินค้า (Model) ให้ลูกค้ากรอกชื่อรุ่นสินค้าที่ปรากฏในใบเสร็จ เช่น HC-ECLIPSE-90, HB78-2BBL/BG, MEGAN 1200/500 เป็นต้น
<br><br>

3.4)    หมายเลขเครื่อง (serial number) จะปรากฏอยู่บนสติ๊กเกอร์ข้างกล่องหรือภายในตัวเครื่อง เช่น สติ๊กเกอร์ที่อยู่ใต้เตาไฟฟ้าและสติกเกอร์ที่อยู่ใกล้มอเตอร์ของเครื่องดูดควัน และจะมีเฉพาะในสินค้าประเภทเครื่องใช้ไฟฟ้าเท่านั้น ได้แก่ เครื่องดูดควัน เตาแก๊ส เตาไฟฟ้า เตาแม่เหล็กไฟฟ้า เตาอบ ไมโครเวฟ และเครื่องล้างจาน โดยเครื่องใช้ไฟฟ้าทุกชิ้นจะมีหมายเลขเครื่องที่แตกต่างกันออกไปถึงแม้ว่าจะเป็นสินค้าประเภทเดียวกัน  โดยหมายเลขเครื่องนี้จะถูกกำหนดมาจากโรงงานที่ผลิตสินค้า ซึ่งหมายเลขเครื่องมีประโยชน์อย่างมากในการตรวจสอบสินค้ากลับไปยัง lot การผลิตที่แตกต่างกัน อย่างไรก็ตามหากคุณลูกค้าประสงค์ที่จะลงทะเบียนสินค้าประเภทอื่น ๆ เช่น ซิงค์ล้างจาน หรือ ก๊อกน้ำ คุณลูกค้าสามารถเว้นว่างช่องนี้ไว้ได้เลยค่ะ
<br><br>

3.5)    รายละเอียดอื่น ๆ เพื่อให้เรามีประวัติในการสั่งซื้อสินค้าของคุณให้มากขึ้น จึงต้องรบกวนให้คุณลูกค้ากรอกรายละเอียดเพิ่มเติม อาทิเช่น ชื่อ ที่อยู่ เบอร์โทรติดต่อ และสถานที่สั่งซื้อสินค้า เป็นต้น
<br><br>

3.6)    ใบเสร็จ(ใบรับสินค้า) เพื่อรักษาสิทธิประโยชน์ของคุณลูกค้าในกรณีที่ใบรับสินค้าจะสูญหายได้ เราจึงอยากให้ท่านแนบไฟล์รูปภาพใบรับสินค้า ในสกุล Jpeg เพื่อส่งต่อให้เราได้เป็นผู้ดูแลคุณในอนาคตค่ะ
<br><br>
เมื่อข้อมูลครบถ้วนเป็นที่เรียบร้อยแล้ว เพียงแค่คุณ กดปุ่มลงทะเบียน ข้อมูลทั้งหมดจะถูกส่งต่อมาที่ระบบหลังบ้านเพื่อบันทึกในระบบอัตโนมัติ และคุณก็จะได้รับ E-mail ยืนยันการลงทะเบียนการรับประกันสินค้า EVE ส่งกลับไปเช่นกันค่ะ
เพียงทำตามขั้นตอนง่าย ๆ นี้ คุณก็จะได้รับสิทธิประโยชน์ในการดูแลจากเราค่ะ





{% endblock %}
      {% block footer %}
	{% endblock footer %}
